/* Style sidebar */
#sidebar-nav {
    position: fixed;      /* Fixed on position on scroll */
    height: 100%;         /* Full page height */
    width: 150px;         /* Fixed width, so that rest of page can be pushed right this exact amount */
    overflow-x: hidden;   /* Disable horizontal scroll */
    z-index: 1;           /* Stay on top */
    top: 0;               /* Stay at the top */
}

.sidebar-link {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: grey;                     /* Navbar links text color (when not active) */
    text-decoration: none !important;  /* Remove undeline from navbar links */
}

.sidebar-link.active {
    color: black;  /* Selected navbar link text color */
}

.sidebar-link:hover {
    color: black;  /* Hover over navbar link text color */
}

/* Style main display */
#main-display {
    margin-left: 150px;  /* Width of the sidebar */
    text-align: center;
}

.vertical-center {
    min-height: 100vh;
    display: flex;
    align-items: center;
}
