/* Style sidebar */
#sidebar-nav {
    position: fixed;      /* Fixed on position on scroll */
    height: 100%;         /* Full page height */
    width: 150px;         /* Fixed width, so that rest of page can be pushed right this exact amount */
    overflow-x: hidden;   /* Disable horizontal scroll */
    z-index: 1;           /* Stay on top */
    top: 0;               /* Stay at the top */
}

.sidebar-link {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.sidebar-link:focus {
    outline:0;           /* Remove the blue outline when the sidebar-link button is clicked */
}

.sidebar-link.active {
    background-color: lightgray;  /* Selected navbar tab highlighting */
}

/* Style main display */
#main-display {
    margin-left: 150px;  /* Width of the sidebar */
    text-align: center;
}

.vertical-center {
    min-height: 100vh;
    display: flex;
    align-items: center;
}
