#show-song, #edit-song, #new-song {
    text-align: left;
}

#song-header {
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
}

.form-heading {
    margin-top: 3vh;
    margin-bottom: 3vh;
}