#main-display {
    min-height: 100vh;
}

.bg-grey {
    background-color: #d8d8d8;
}

.bg-white {
    background-color: white;
}

.custom-shadow {
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.15);
}

.carousel-indicators li {
    background-color: grey;
}

.carousel-indicators .active{
    background-color: black;
}

.carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
    align-items: flex-end;
    padding-bottom: 5vh;
}