#main-display {
    min-height: 100vh;
}

.bg-grey {
    background-color: #d8d8d8;
}

.bg-white {
    background-color: white;
}

.custom-shadow {
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.15);
}
