#search-container {
    max-width: 50vw;
    text-align: center;
}

#search-results {
    max-height: 50vh;
    margin-bottom: 10vh;
    overflow: scroll;
    text-align: left;
}

#spotify-logo {
    height: 150px;
    width: 150px;
}
